
<div  id="main-box" style="width: 45rem;">
    <img id="img" class="card-img-top" src="https://images.pexels.com/photos/656195/pexels-photo-656195.jpeg?h=350&auto=compress&cs=tinysrgb" alt="seattle image">
    <div class="card-body">
      <h1 class="card-title">Seattle, WA</h1>
      <p >Humidity: {{ seattle['humidity'] }}%</p>
      <p >Temp(Avg): {{ seattle['temp'] }}° F</p>
      <p >Temp(Min): {{ seattle['temp_min'] }}° F</p>
      <p >Temp(Max): {{ seattle['temp_max'] }}° F</p>
      <p >Status: {{ seattle['description'] }}</p>
      <a href="/" class="btn btn-primary">Back to Home Page</a>
    </div>
  

