@import '~bootstrap/dist/css/bootstrap.min.css';
#main-box{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    border: 0.3rem solid grey;
    border-radius: 1rem;
}

#img{

    border-radius: .7rem .7rem 0rem 0rem;  
}
p{
    font-size: 1.4rem;
}